
@{
    ViewBag.Title = "404 Xəta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Page Content -->
        <h1 class="display-1">404</h1>
        <p class="lead">
            Səhifə tapılmadı və ya xəta baş verdi. 
            <a href="javascript:history.back()">Ana səhifəyə</a>
            geri dön və xəta ilə bağlı zəhmət olmasa
             <br/>admin ilə əlaqə saxlayın <a href="tel:+994554028821">055-402-88-21</a>
        </p>
    </div>
</div>

